node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log

# macOS
.DS_Store

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace
*.xcuserdata

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.aab
